body{
    background-image: url("../imgs/wallpaper.jpg") ;
}
header{
    opacity: 90%;
    display: flex;
    background-color: #02851e;
    height: 180px;
    margin: -1%;    
}
h1{
    margin-left: 5%;
    font-size: 500%;
    width:200%;
    margin-bottom: 8%;
}
h4{
    text-align: center;
    font-size: 150%;
    margin-top: -10%;
}
.logo{
    margin-top: 110%;
    margin-left: 100%;
    width: 140%;
    height: 40%;
    border-radius: 50%;
}
.nav{
    width: 30%;
    margin-top:6%;
    margin-left:40%;
    font-size: 250%;
    text-align:end;
}
.nav a{
    padding: 1%;
}
/*utilities*/
.row{
    display: flex;
}