
/*main*/
.index{
    display: flex;
}
.petinfo{
}
.bioimg{
    margin-right: 0%;
    height: 300px;
    width:30%;
    padding: 0% 0% 1% 1%;
}
.bio{
    opacity: 90%;
    background-color: #ffffff;
    padding-left: 3%;
    width:30%;
    font-size: 22px;
    margin-bottom: 3%;
}
.bio h4{
    text-align: left;
    margin-top:  0%;
}
.welcome{
    text-align: center;
    padding: 1%;
    width: 80%;
    margin-right: 15%;
    font-size: 50px;
    opacity: 90%;
    background-color: #ffffff;
}
