.input-alert-error {
    background-color: pink;
    border: 1px solid red;
}

/* top */
.subTitle {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

.regNDis {
    display: flex;
    justify-content: space-evenly;

}

/* register box */
.register {
    width: 40%;
}

.subReg {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 30px;
    font-weight: 600;
}

input,
select {
    font-size: 25px;
}

.regBtn {
    padding: 10px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.582);
    color: rgb(202, 131, 0);
    font-size: 35px;
}

/* search box */
.petCage {
    width: auto;
}

.glass {
    border-radius: 20%;
}

.count {
    font-size: 35px;
    font-weight: 700;
}

table {
    border-collapse: collapse;
    border: 7px solid black;
}

thead {
    font-size: 22px;
    color: black;
    border-bottom: 5px solid black;
    background-color: rgb(202, 131, 0);
}

th {
    text-align: left;
    padding-left: 10px;
}

.table-data {
    background-color: rgba(255, 255, 255, 0.733);
}

.petBoard {
    font-weight: 700;
    font-size: 20px;
    border-bottom: 3px solid black;
}

td {
    padding: 10px;
}

.cancel {
    font-size: 25px;
}


@media(max-width: 1100px) {
    .regNDis {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register {
        width: auto;
    }

    .find {
        text-align: center;
    }

}